<!DOCTYPE html>
<html class="h-full antialiased dark" lang={@locale} style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Software Engineer">
      {assigns[:page_title] || "Iago Cavalcante"}
    </.live_title>
    <meta
      property="og:title"
      content={assigns[:meta_title] || "Iago Cavalcante · Software Engineer"}
    />
    <meta property="og:type" content={assigns[:meta_type] || "website"} />
    <meta
      property="og:url"
      content={assigns[:meta_url] || "https://iagocavalcante.com"}
    />
    <meta property="og:image" content="https://iagocavalcante.com/images/myself-1.png" />
    <meta
      property="og:description"
      content={
        assigns[:meta_description] ||
          gettext(
            "I'm Iago Cavalcante, a software engineer and entrepreneur based in Belém, Brazil. Currently working at EasyMate AI. Building Agendflow, LeafTok, and open-source tools.",
            lang: @locale
          )
      }
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content={assigns[:meta_title] || "Iago Cavalcante · Software Engineer"}
    />
    <meta name="twitter:image" content="https://iagocavalcante.com/images/myself-1.png" />
    <meta
      name="twitter:description"
      content={
        assigns[:meta_description] ||
          gettext(
            "I'm Iago Cavalcante, a software engineer and entrepreneur based in Belém, Brazil. Currently working at EasyMate AI. Building Agendflow, LeafTok, and open-source tools.",
            lang: @locale
          )
      }
    />

    <meta
      name="description"
      content={
        assigns[:meta_description] ||
          gettext(
            "I'm Iago Cavalcante, a software engineer and entrepreneur based in Belém, Brazil. Currently working at EasyMate AI. Building Agendflow, LeafTok, and open-source tools.",
            lang: @locale
          )
      }
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer data-domain="iagocavalcante.com" src="https://plausible.io/js/script.js">
    </script>
    <script>
      if (localStorage.getItem('theme') === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
    {@inner_content}
  </body>
  <script
    defer
    data-domain="iagocavalcante.com"
    src="https://devsnorte-plausible.fly.dev/js/script.js"
  >
  </script>
</html>
